body{
  background-color: rgb(209, 209, 159);
}
.container{
  background-color: rgb(164, 215, 208);
  margin: 10%;
  padding: 5%;


  /* From https://css.glass */
background: rgba(0, 0, 0, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.question-box{
  display: flex;
  flex-direction: column;
  text-align: left;
  color: rgba(0, 0, 0, 0.56);
}
.answers-box{
  display: flex;
  justify-content: space-between;
}
.answers-box button{
  width: 120px;
  height: 30px;
  border-radius: 12px;
  font-size: 12px;
  border: none;
  background-color: transparent;
  border: 1px solid rgba(7, 7, 56, 0.56); 
}

hr{
  height: 1px;
  width: 100%;
  color: aliceblue;
  
}
.check-btn{
  width: 120px;
  height: 30px;
  border-radius: 12px;
  border: none;
  background-color: rgba(7, 7, 56, 0.56);
  border:none; 
}